
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #00bcd4;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    background-color: #f4f4f4;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 24px;
    border: none;
    background-color: #010913;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background-color: #000204;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.card {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(253, 1, 1, 0.964);
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 2rem;
    }
}